<h1>Vaše zadání</h1>
<div class="table-responsive mt-2">
    <table class="table table-bordered">
        <thead>
        <tr>
            <th>Název</th>
            <th>Datum zadání</th>
            <th>Datum odevzdání</th>
            <th>Stav</th>
            <th>Akce</th>
        </tr>
        </thead>
        <tbody>
        {% for assignment in assignments %}
            <tr>
                <td>{{ assignment.name }}</td>
                <td>{{ assignment.dateFrom|date("j. n. Y H:i") }}</td>
                <td>{{ assignment.dateTo|date("j. n. Y H:i") }}</td>
                <td>
                    {% if assignment.state is not constant('\\App\\Model\\Database\\Types\\AssignmentState::NEW') %}
                        <span class="text-{{ assignment.state.getColor() }}">{{ assignment.state.getText() }}</span>
                    {% elseif assignment.attempts > 0 %}
                        <span class="text-success">Odevzdáno</span>
                        <br>
                        Pokusů: {{ assignment.attempts }}
                    {% elseif not assignment.generated or assignment.dateFrom > now %}
                        Zadání nezveřejněno
                    {% else %}
                        Dosud neodevzdáno
                    {% endif %}
                </td>
                <td>
                    {% if not assignment.generated or assignment.dateFrom > now %}
                        <a class="btn btn-sm btn-outline-secondary disabled" title="Doposud nezveřejněno">Detail</a>
                    {% else %}
                        <a class="btn btn-sm btn-outline-primary" href="{{ createLink('assignments', { id: assignment.assignmentId }) }}">Detail</a>
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>